openapi: 3.0.0
info:
  title: BV-BRC API
  version: 1.0.0
  description: API documentation for BV-BRC
  x-logo:
    url: https://yourdomain.com/logo.svg
    altText: BV-BRC API
servers:
  - url: https://alpha.bv-brc.org/api
paths:
  "/content/{id}":
    get:
      summary: Retrieve content by ID
      description: Fetches content details based on a given ID.
      parameters:
        - in: path
          name: id
          required: true
          description: ID of the content
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved content
        "404":
          description: Content not found
  /contentDirectory:
    get:
      summary: Auto-generated summary for GET contentDirectory
      responses:
        "200":
          description: Successful response
  /*:
    get:
      summary: Auto-generated summary for GET *
      responses:
        "200":
          description: Successful response
    post:
      summary: Auto-generated summary for POST *
      responses:
        "200":
          description: Successful response
  /data:
    post:
      summary: Add a new dataset entry
      description: Creates a new dataset entry in the API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: New dataset
                type:
                  type: string
                  example: genome
      responses:
        "201":
          description: Successfully created dataset
        "400":
          description: Invalid data format
  /redis:
    get:
      summary: Auto-generated summary for GET redis
      responses:
        "200":
          description: Successful response
  /http_port:
    get:
      summary: Auto-generated summary for GET http_port
      responses:
        "200":
          description: Successful response
  /summary_by_taxon/:taxon_id:
    get:
      summary: Auto-generated summary for GET /summary_by_taxon/:taxon_id
      responses:
        "200":
          description: Successful response
  /distinct/:collection/:field:
    get:
      summary: Auto-generated summary for GET /distinct/:collection/:field
      responses:
        "200":
          description: Successful response
  /taxon_category/:
    get:
      summary: Auto-generated summary for GET /taxon_category/
      responses:
        "200":
          description: Successful response
  /subsystem_summary/:genome_id:
    get:
      summary: Auto-generated summary for GET /subsystem_summary/:genome_id
      responses:
        "200":
          description: Successful response
  /data/type:
    get:
      summary: Retrieve available data types
      description: Returns a list of all data types available in the API.
      responses:
        "200":
          description: Successfully retrieved data types
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: genome
  /content-type:
    get:
      summary: Auto-generated summary for GET content-type
      responses:
        "200":
          description: Successful response
  /accept:
    get:
      summary: Auto-generated summary for GET accept
      responses:
        "200":
          description: Successful response
  /:target_id:
    patch:
      summary: Auto-generated summary for PATCH /:target_id
      responses:
        "200":
          description: Successful response
    post:
      summary: Auto-generated summary for POST /:target_id
      responses:
        "200":
          description: Successful response
  /doc:
    get:
      summary: Retrieve API documentation
      description: Serves API documentation in JSON format.
      responses:
        "200":
          description: Successfully retrieved documentation
  /publicURL:
    get:
      summary: Auto-generated summary for GET publicURL
      responses:
        "200":
          description: Successful response
  /:
    get:
      summary: Auto-generated summary for GET /
      responses:
        "200":
          description: Successful response
      description: Returns general information about the API.
    post:
      summary: Auto-generated summary for POST /
      responses:
        "200":
          description: Successful response
  /:collection:
    get:
      summary: Auto-generated summary for GET /:collection
      responses:
        "200":
          description: Successful response
  /download:
    get:
      summary: Download a file
      description: Allows downloading files from the API using a file ID.
      parameters:
        - in: query
          name: fileId
          required: true
          description: ID of the file to download
          schema:
            type: string
      responses:
        "200":
          description: File downloaded successfully
        "404":
          description: File not found
  /permissions/genome:
    get:
      summary: Check genome permissions
      description: Returns access permissions for a given genome.
      parameters:
        - in: query
          name: genomeId
          required: true
          description: ID of the genome
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved permissions
        "403":
          description: Access denied
  /solr:
    get:
      summary: Auto-generated summary for GET solr
      responses:
        "200":
          description: Successful response
  /hpi/search:
    get:
      summary: Search HPI data
      description: Fetches data from the HPI search API using a search term.
      parameters:
        - in: query
          name: term
          required: false
          description: Search term for querying HPI data.
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved HPI search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "12345"
                        name:
                          type: string
                          example: Example HPI Entry
  /distributeURL:
    get:
      summary: Auto-generated summary for GET distributeURL
      responses:
        "200":
          description: Successful response
  /experiment:
    get:
      summary: Auto-generated summary for GET /experiment
      responses:
        "200":
          description: Successful response
  /experiment/:id:
    get:
      summary: Auto-generated summary for GET /experiment/:id
      responses:
        "200":
          description: Successful response
  /experiment/:id/id-list/:id_list:
    get:
      summary: Auto-generated summary for GET /experiment/:id/id-list/:id_list
      responses:
        "200":
          description: Successful response
  /experiment/:id/id-list/:id_list/ids:
    get:
      summary: Auto-generated summary for GET /experiment/:id/id-list/:id_list/ids
      responses:
        "200":
          description: Successful response
  /api:
    get:
      summary: Auto-generated summary for GET /api
      responses:
        "200":
          description: Successful response
  /indexer:
    post:
      summary: Trigger data indexing
      description: Initiates the indexing process for the API database.
      responses:
        "200":
          description: Indexing started successfully
        "500":
          description: Error starting indexing
  /queueDirectory:
    get:
      summary: Auto-generated summary for GET queueDirectory
      responses:
        "200":
          description: Successful response
  /:id:
    get:
      summary: Auto-generated summary for GET /:id
      responses:
        "200":
          description: Successful response
  /:type:
    post:
      summary: Auto-generated summary for POST /:type
      responses:
        "200":
          description: Successful response
  /jbrowse:
    get:
      summary: Retrieve JBrowse data
      description: Fetches genomic visualization data for JBrowse.
      parameters:
        - in: query
          name: genomeId
          required: true
          description: Genome ID for JBrowse
          schema:
            type: string
      responses:
        "200":
          description: Successfully retrieved JBrowse data
  /jbrowseAPIRoot:
    get:
      summary: Auto-generated summary for GET jbrowseAPIRoot
      responses:
        "200":
          description: Successful response
  /type:
    get:
      summary: Auto-generated summary for GET type
      responses:
        "200":
          description: Successful response
  /feature_type:
    get:
      summary: Auto-generated summary for GET feature_type
      responses:
        "200":
          description: Successful response
  /genome/2697049.107626/trackList:
    get:
      summary: Auto-generated summary for GET /genome/2697049.107626/trackList
      responses:
        "200":
          description: Successful response
  /genome/:id/trackList:
    get:
      summary: Auto-generated summary for GET /genome/:id/trackList
      responses:
        "200":
          description: Successful response
  /genome/:id/tracks:
    get:
      summary: Auto-generated summary for GET /genome/:id/tracks
      responses:
        "200":
          description: Successful response
  /genome/:id/stats/global:
    get:
      summary: Auto-generated summary for GET /genome/:id/stats/global
      responses:
        "200":
          description: Successful response
  /genome/:id/stats/region/:sequence_id:
    get:
      summary: Auto-generated summary for GET /genome/:id/stats/region/:sequence_id
      responses:
        "200":
          description: Successful response
  /genome/:id/stats/regionFeatureDensities/:sequence_id:
    get:
      summary: Auto-generated summary for GET
        /genome/:id/stats/regionFeatureDensities/:sequence_id
      responses:
        "200":
          description: Successful response
  /genome/:id/features/:seq_accession:
    get:
      summary: Auto-generated summary for GET /genome/:id/features/:seq_accession
      responses:
        "200":
          description: Successful response
  /genome/:id/refseqs:
    get:
      summary: Auto-generated summary for GET /genome/:id/refseqs
      responses:
        "200":
          description: Successful response
  /genome/:id/names/:
    get:
      summary: Auto-generated summary for GET /genome/:id/names/
      responses:
        "200":
          description: Successful response
  /query/multi:
    post:
      summary: Execute multiple queries
      description: Submits multiple queries to the API and returns combined results.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                queries:
                  type: array
                  items:
                    type: object
                    properties:
                      query:
                        type: string
                      filters:
                        type: object
      responses:
        "200":
          description: Successfully executed queries
        "400":
          description: Invalid query format
  /rpc:
    post:
      summary: Execute an RPC request
      description: Handles remote procedure calls (RPC) for various API functions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                params:
                  type: object
      responses:
        "200":
          description: Successfully executed RPC call
        "400":
          description: Invalid request format
components:
  schemas:
    transcriptomics_sample:
      type: object
      properties: {}
    transcriptomics_gene:
      type: object
      properties: {}
    transcriptomics_experiment:
      type: object
      properties: {}
    taxonomy:
      type: object
      properties: {}
    surveillance:
      type: object
      properties: {}
    subsystem_ref:
      type: object
      properties: {}
    subsystem:
      type: object
      properties: {}
    structured_assertion:
      type: object
      properties: {}
    strain:
      type: object
      properties: {}
    spike_variant:
      type: object
      properties: {}
    spike_lineage:
      type: object
      properties: {}
    sp_gene_ref:
      type: object
      properties: {}
    sp_gene_evidence:
      type: object
      properties: {}
    sp_gene:
      type: object
      properties: {}
    serology:
      type: object
      properties: {}
    sequence_feature_vt:
      type: object
      properties: {}
    sequence_feature:
      type: object
      properties: {}
    protein_structure:
      type: object
      properties: {}
    protein_feature:
      type: object
      properties: {}
    protein_family_ref:
      type: object
      properties: {}
    ppi:
      type: object
      properties: {}
    pathway_ref:
      type: object
      properties: {}
    pathway:
      type: object
      properties: {}
    misc_niaid_sgc:
      type: object
      properties: {}
    id_ref:
      type: object
      properties: {}
    genome_sequence:
      type: object
      properties: {}
    genome_feature:
      type: object
      properties: {}
    genome_amr:
      type: object
      properties: {}
    genome:
      type: object
      properties: {}
    gene_ontology_ref:
      type: object
      properties: {}
    feature_sequence:
      type: object
      properties: {}
    experiment:
      type: object
      properties: {}
    epitope_assay:
      type: object
      properties: {}
    epitope:
      type: object
      properties: {}
    enzyme_class_ref:
      type: object
      properties: {}
    bioset_result:
      type: object
      properties: {}
    bioset:
      type: object
      properties: {}
    antibiotics:
      type: object
      properties: {}
tags:
  - name: Transcriptomics Sample
    description: Auto-generated tag group for Transcriptomics Sample
  - name: Transcriptomics Gene
    description: Auto-generated tag group for Transcriptomics Gene
  - name: Transcriptomics Experiment
    description: Auto-generated tag group for Transcriptomics Experiment
  - name: Taxonomy
    description: Auto-generated tag group for Taxonomy
  - name: Surveillance
    description: Auto-generated tag group for Surveillance
  - name: Subsystem Ref
    description: Auto-generated tag group for Subsystem Ref
  - name: Subsystem
    description: Auto-generated tag group for Subsystem
  - name: Structured Assertion
    description: Auto-generated tag group for Structured Assertion
  - name: Strain
    description: Auto-generated tag group for Strain
  - name: Spike Variant
    description: Auto-generated tag group for Spike Variant
  - name: Spike Lineage
    description: Auto-generated tag group for Spike Lineage
  - name: Sp Gene Ref
    description: Auto-generated tag group for Sp Gene Ref
  - name: Sp Gene Evidence
    description: Auto-generated tag group for Sp Gene Evidence
  - name: Sp Gene
    description: Auto-generated tag group for Sp Gene
  - name: Serology
    description: Auto-generated tag group for Serology
  - name: Sequence Feature Vt
    description: Auto-generated tag group for Sequence Feature Vt
  - name: Sequence Feature
    description: Auto-generated tag group for Sequence Feature
  - name: Protein Structure
    description: Auto-generated tag group for Protein Structure
  - name: Protein Feature
    description: Auto-generated tag group for Protein Feature
  - name: Protein Family Ref
    description: Auto-generated tag group for Protein Family Ref
  - name: Ppi
    description: Auto-generated tag group for Ppi
  - name: Pathway Ref
    description: Auto-generated tag group for Pathway Ref
  - name: Pathway
    description: Auto-generated tag group for Pathway
  - name: Misc Niaid Sgc
    description: Auto-generated tag group for Misc Niaid Sgc
  - name: Id Ref
    description: Auto-generated tag group for Id Ref
  - name: Genome Sequence
    description: Auto-generated tag group for Genome Sequence
  - name: Genome Feature
    description: Auto-generated tag group for Genome Feature
  - name: Genome Amr
    description: Auto-generated tag group for Genome Amr
  - name: Genome
    description: Auto-generated tag group for Genome
  - name: Gene Ontology Ref
    description: Auto-generated tag group for Gene Ontology Ref
  - name: Feature Sequence
    description: Auto-generated tag group for Feature Sequence
  - name: Experiment
    description: Auto-generated tag group for Experiment
  - name: Epitope Assay
    description: Auto-generated tag group for Epitope Assay
  - name: Epitope
    description: Auto-generated tag group for Epitope
  - name: Enzyme Class Ref
    description: Auto-generated tag group for Enzyme Class Ref
  - name: Bioset Result
    description: Auto-generated tag group for Bioset Result
  - name: Bioset
    description: Auto-generated tag group for Bioset
  - name: Antibiotics
    description: Auto-generated tag group for Antibiotics
x-tagGroups:
  - name: Solr Collections
    tags:
      - Transcriptomics Sample
      - Transcriptomics Gene
      - Transcriptomics Experiment
      - Taxonomy
      - Surveillance
      - Subsystem Ref
      - Subsystem
      - Structured Assertion
      - Strain
      - Spike Variant
      - Spike Lineage
      - Sp Gene Ref
      - Sp Gene Evidence
      - Sp Gene
      - Serology
      - Sequence Feature Vt
      - Sequence Feature
      - Protein Structure
      - Protein Feature
      - Protein Family Ref
      - Ppi
      - Pathway Ref
      - Pathway
      - Misc Niaid Sgc
      - Id Ref
      - Genome Sequence
      - Genome Feature
      - Genome Amr
      - Genome
      - Gene Ontology Ref
      - Feature Sequence
      - Experiment
      - Epitope Assay
      - Epitope
      - Enzyme Class Ref
      - Bioset Result
      - Bioset
      - Antibiotics
  - name: Internal API
    tags:
      - Admin
      - Auth
      - Metrics
  - name: Misc
    tags:
      - General
