{
  "openapi": "3.0.0",
  "info": {
    "title": "BV-BRC API",
    "version": "1.0.0",
    "description": "API documentation for BV-BRC",
    "x-logo": {
      "url": "https://yourdomain.com/logo.svg",
      "altText": "BV-BRC API"
    }
  },
  "servers": [
    {
      "url": "https://alpha.bv-brc.org/api"
    }
  ],
  "paths": {
    "/content/{id}": {
      "get": {
        "summary": "Retrieve content by ID",
        "description": "Fetches content details based on a given ID.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID of the content",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved content"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Content not found"
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/contentDirectory": {
      "get": {
        "summary": "Auto-generated summary for GET contentDirectory",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/*": {
      "get": {
        "summary": "Auto-generated summary for GET *",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Auto-generated summary for POST *",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/data": {
      "post": {
        "summary": "Submit a data payload",
        "description": "Ingests and stores user-supplied data into the system.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "payload": {
                    "type": "object"
                  }
                },
                "required": [
                  "name",
                  "type"
                ]
              },
              "example": {
                "name": "Example Dataset",
                "type": "genome",
                "payload": {
                  "genome_id": "123456.7",
                  "genome_name": "Test Genome"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "id": "abc123"
                }
              }
            }
          }
        }
      }
    },
    "/redis": {
      "get": {
        "summary": "Auto-generated summary for GET redis",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/http_port": {
      "get": {
        "summary": "Auto-generated summary for GET http_port",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/summary_by_taxon/:taxon_id": {
      "get": {
        "summary": "Auto-generated summary for GET /summary_by_taxon/:taxon_id",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/distinct/:collection/:field": {
      "get": {
        "summary": "Auto-generated summary for GET /distinct/:collection/:field",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/taxon_category/": {
      "get": {
        "summary": "Auto-generated summary for GET /taxon_category/",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/subsystem_summary/:genome_id": {
      "get": {
        "summary": "Auto-generated summary for GET /subsystem_summary/:genome_id",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/data/type": {
      "get": {
        "summary": "Retrieve available data types",
        "description": "Returns a list of all data types available in the API.",
        "responses": {
          "200": {
            "description": "Successfully retrieved data types",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "genome"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/content-type": {
      "get": {
        "summary": "Auto-generated summary for GET content-type",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/accept": {
      "get": {
        "summary": "Auto-generated summary for GET accept",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/:target_id": {
      "patch": {
        "summary": "Auto-generated summary for PATCH /:target_id",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Auto-generated summary for POST /:target_id",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/doc": {
      "get": {
        "summary": "Retrieve API documentation",
        "description": "Serves API documentation in JSON format.",
        "responses": {
          "200": {
            "description": "Successfully retrieved documentation"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/publicURL": {
      "get": {
        "summary": "Auto-generated summary for GET publicURL",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Auto-generated summary for GET /",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        },
        "description": "Returns general information about the API."
      },
      "post": {
        "summary": "Auto-generated summary for POST /",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/:collection": {
      "get": {
        "summary": "Auto-generated summary for GET /:collection",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/download": {
      "get": {
        "summary": "Download a file",
        "description": "Allows downloading files from the API using a file ID.",
        "parameters": [
          {
            "in": "query",
            "name": "fileId",
            "required": true,
            "description": "ID of the file to download",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File downloaded successfully"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/permissions/genome": {
      "get": {
        "summary": "Check genome permissions",
        "description": "Returns access permissions for a given genome.",
        "parameters": [
          {
            "in": "query",
            "name": "genomeId",
            "required": true,
            "description": "ID of the genome",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved permissions"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Access denied"
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/solr": {
      "get": {
        "summary": "Auto-generated summary for GET solr",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/hpi/search": {
      "get": {
        "summary": "Search HPI data",
        "description": "Fetches data from the HPI search API using a search term.",
        "parameters": [
          {
            "in": "query",
            "name": "term",
            "required": false,
            "description": "Search term for querying HPI data.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved HPI search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "12345"
                          },
                          "name": {
                            "type": "string",
                            "example": "Example HPI Entry"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/distributeURL": {
      "get": {
        "summary": "Auto-generated summary for GET distributeURL",
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/experiment": {
      "get": {
        "summary": "Auto-generated summary for GET /experiment",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/experiment"
                },
                "example": {
                  "exp_id": "exp_id_example",
                  "study_name": "study_name_example",
                  "study_title": "study_title_example",
                  "study_description": "study_description_example",
                  "study_pi": "study_pi_example",
                  "study_institution": "study_institution_example",
                  "exp_name": "exp_name_example",
                  "exp_title": "exp_title_example",
                  "exp_description": "exp_description_example",
                  "exp_poc": "exp_poc_example",
                  "experimenters": "experimenters_example",
                  "public_repository": "public_repository_example",
                  "public_identifier": "public_identifier_example",
                  "pmid": "pmid_example",
                  "doi": "doi_example",
                  "exp_type": "exp_type_example",
                  "measurement_technique": "measurement_technique_example",
                  "detection_instrument": "detection_instrument_example",
                  "exp_protocol": "exp_protocol_example",
                  "organism": "organism_example",
                  "strain": "strain_example",
                  "taxon_id": 42,
                  "taxon_lineage_ids": "taxon_lineage_ids_example",
                  "genome_id": "genome_id_example",
                  "treatment_type": "treatment_type_example",
                  "treatment_name": "treatment_name_example",
                  "treatment_amount": "treatment_amount_example",
                  "treatment_duration": "treatment_duration_example",
                  "samples": 42,
                  "biosets": 42,
                  "additional_metadata": "additional_metadata_example",
                  "additional_data": "additional_data_example",
                  "text": "text_example",
                  "_version_": 42,
                  "date_inserted": "date_inserted_example",
                  "date_modified": "date_modified_example"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/experiment/:id": {
      "get": {
        "summary": "Auto-generated summary for GET /experiment/:id",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/experiment"
                },
                "example": {
                  "exp_id": "exp_id_example",
                  "study_name": "study_name_example",
                  "study_title": "study_title_example",
                  "study_description": "study_description_example",
                  "study_pi": "study_pi_example",
                  "study_institution": "study_institution_example",
                  "exp_name": "exp_name_example",
                  "exp_title": "exp_title_example",
                  "exp_description": "exp_description_example",
                  "exp_poc": "exp_poc_example",
                  "experimenters": "experimenters_example",
                  "public_repository": "public_repository_example",
                  "public_identifier": "public_identifier_example",
                  "pmid": "pmid_example",
                  "doi": "doi_example",
                  "exp_type": "exp_type_example",
                  "measurement_technique": "measurement_technique_example",
                  "detection_instrument": "detection_instrument_example",
                  "exp_protocol": "exp_protocol_example",
                  "organism": "organism_example",
                  "strain": "strain_example",
                  "taxon_id": 42,
                  "taxon_lineage_ids": "taxon_lineage_ids_example",
                  "genome_id": "genome_id_example",
                  "treatment_type": "treatment_type_example",
                  "treatment_name": "treatment_name_example",
                  "treatment_amount": "treatment_amount_example",
                  "treatment_duration": "treatment_duration_example",
                  "samples": 42,
                  "biosets": 42,
                  "additional_metadata": "additional_metadata_example",
                  "additional_data": "additional_data_example",
                  "text": "text_example",
                  "_version_": 42,
                  "date_inserted": "date_inserted_example",
                  "date_modified": "date_modified_example"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/experiment/:id/id-list/:id_list": {
      "get": {
        "summary": "Auto-generated summary for GET /experiment/:id/id-list/:id_list",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/experiment"
                },
                "example": {
                  "exp_id": "exp_id_example",
                  "study_name": "study_name_example",
                  "study_title": "study_title_example",
                  "study_description": "study_description_example",
                  "study_pi": "study_pi_example",
                  "study_institution": "study_institution_example",
                  "exp_name": "exp_name_example",
                  "exp_title": "exp_title_example",
                  "exp_description": "exp_description_example",
                  "exp_poc": "exp_poc_example",
                  "experimenters": "experimenters_example",
                  "public_repository": "public_repository_example",
                  "public_identifier": "public_identifier_example",
                  "pmid": "pmid_example",
                  "doi": "doi_example",
                  "exp_type": "exp_type_example",
                  "measurement_technique": "measurement_technique_example",
                  "detection_instrument": "detection_instrument_example",
                  "exp_protocol": "exp_protocol_example",
                  "organism": "organism_example",
                  "strain": "strain_example",
                  "taxon_id": 42,
                  "taxon_lineage_ids": "taxon_lineage_ids_example",
                  "genome_id": "genome_id_example",
                  "treatment_type": "treatment_type_example",
                  "treatment_name": "treatment_name_example",
                  "treatment_amount": "treatment_amount_example",
                  "treatment_duration": "treatment_duration_example",
                  "samples": 42,
                  "biosets": 42,
                  "additional_metadata": "additional_metadata_example",
                  "additional_data": "additional_data_example",
                  "text": "text_example",
                  "_version_": 42,
                  "date_inserted": "date_inserted_example",
                  "date_modified": "date_modified_example"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
                  "message": "Something went wrong on the server."
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The server received an invalid response from an upstream server.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Gateway",
                  "message": "Invalid response from upstream service."
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable - The server is currently unable to handle the request due to temporary overload or maintenance.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Service Unavailable",
                  "message": "Server is temporarily unavailable. Please try again later."
                }
              }
            }
          }
        }
      }
    },
    "/experiment/:id/id-list/:id_list/ids": {
      "get": {
        "summary": "Auto-generated summary for GET /experiment/:id/id-list/:id_list/ids",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/experiment"
                },
                "example": {
                  "exp_id": "exp_id_example",
                  "study_name": "study_name_example",
                  "study_title": "study_title_example",
                  "study_description": "study_description_example",
                  "study_pi": "study_pi_example",
                  "study_institution": "study_institution_example",
                  "exp_name": "exp_name_example",
                  "exp_title": "exp_title_example",
                  "exp_description": "exp_description_example",
                  "exp_poc": "exp_poc_example",
                  "experimenters": "experimenters_example",
                  "public_repository": "public_repository_example",
                  "public_identifier": "public_identifier_example",
                  "pmid": "pmid_example",
                  "doi": "doi_example",
                  "exp_type": "exp_type_example",
                  "measurement_technique": "measurement_technique_example",
                  "detection_instrument": "detection_instrument_example",
                  "exp_protocol": "exp_protocol_example",
                  "organism": "organism_example",
                  "strain": "strain_example",
                  "taxon_id": 42,
                  "taxon_lineage_ids": "taxon_lineage_ids_example",
                  "genome_id": "genome_id_example",
                  "treatment_type": "treatment_type_example",
                  "treatment_name": "treatment_name_example",
                  "treatment_amount": "treatment_amount_example",
                  "treatment_duration": "treatment_duration_example",
                  "samples": 42,
                  "biosets": 42,
                  "additional_metadata": "additional_metadata_example",
                  "additional_data": "additional_data_example",
                  "text": "text_example",
                  "_version_": 42,
                  "date_inserted": "date_inserted_example",
                  "date_modified": "date_modified_example"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood or was missing required parameters.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Bad Request",
                  "message": "The provided input is invalid or incomplete."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication is required and has failed or has not yet been provided.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Unauthorized",
                  "message": "Authentication token is missing or invalid."
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - The request is understood, but it has been refused or access is not allowed.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource."
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The resource could not be found.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not Found",
                  "message": "The requested resource was not found."
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected condition was encountered.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Internal Server Error",
[...]
